html {
  background-color: #282c34;
  /* background-image: url('./assets/login.png');
    background-repeat: space; */
}
.App {
  text-align: left;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding-left: 5vh;
  z-index: 10;
  /* margin-right: 500px;
    margin-top: 150px; */
  /* border-style: solid;
    border-color: chartreuse; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* padding-left: 50vh; */
  /* border-style: solid;
    border-color: crimson; */
}
/* .title {
    margin-top: 10px;
  } */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 50px;
}
.row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10%;
  background-color: #343a40;
}
.col-1 {
  padding: 10%;
  border-style: solid;
  border-color: lawngreen;
}
.col-2 {
  border-style: solid;
  border-color: rgb(25, 0, 252);
}
