.post-container {
  background-image: url(./assets/list-bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.post {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.grid div {
  border-style: solid;
  border-color: darkblue;
  gap: 1em;
}
.profiles {
  margin: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}
