.sign-up {
  padding: 10%;
  height: 100vh;
  color: #264653;
  background-image: url(../assets/sign-up.png);
  background-position: right;
  background-repeat: no-repeat;
}
.inputButton {
  margin: 5% 10% 5% 10%;
}
.inputup {
  margin-right: 5px auto;
  padding: 10px 10px;
}
